<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org>">
<head>
    <link th:include="fragment_1::fragment_bootstrap_link">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="fragment_1::fragment_bootstrap_link_2"></div>
<div class="container mt-5">
    <form th:action="@{/user/profile}" th:method="POST">
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label"> Password: </label>
            <div class="col-sm-6">
                <input type="password" name="password" class="form-control" id="inputPassword3"/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label"> Email: </label>
            <div class="col-sm-6">
                <input type="email" name="email" class="form-control" id="inputEmail"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>